<form action="/restaurants" method="POST">
  <label for="restaurant[name]">Name:</label><br>
  <input type="text" name="restaurant[name]" value=""><br>

  <label for="restaurant[address.street]">Street:</label><br>
  <input type="text" name="restaurant[address.street]" value=""><br>

  <label for="restaurant[address.zip]">Zip:</label><br>
  <input type="text" name="restaurant[address.zip]" value=""><br>

  <label for="restaurant[yelpUrl]">Yelp URL:</label><br>
  <input type="text" name="restaurant[yelpUrl]" value=""><br>

  <input type="submit" value="Submit">
</form>
